@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 217.5 9.09% 17.25%;
    --foreground: 334 34% 98%;
    --muted: 210 9.09% 12.94%;
    --muted-foreground: 334 0% 60.77%;
    --popover: 210 9.09% 12.94%;
    --popover-foreground: 334 34% 98%;
    --card: 210 9.09% 12.94%;
    --card-foreground: 334 34% 98%;
    --border: 334 0% 18.46%;
    --input: 214.29 5.04% 27.25%;
    --primary: 226.73 58.43% 65.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214.29 5.04% 27.25%;
    --secondary-foreground: 334 0% 100%;
    --accent: 217.5 9.09% 17.25%;
    --accent-foreground: 226.73 58.43% 65.1%;
    --destructive: 0 86.89% 48.16%;
    --destructive-foreground: 0 0% 0%;
    --ring: 217.5 9.09% 17.25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
